<div id="title">
  <span class="material-icons"> arrow_back_ios </span>

  <h1>{{ title }}</h1>
</div>
<div>
  <div id="box">
    <div id="box1"><input type="text" placeholder="REF CLIENT" /></div>

    <div id="box2">
      <div id="dates">
        <div><input type="text" placeholder="DATE DE DEBUT" /></div>
        <div><input type="text" placeholder="DATE DE FIN" /></div>
      </div>
      <div id="in-box2">
        <div><input type="text" placeholder="DATE DE LIVRAISON" /></div>
        <div>
          <input
            type="text"
            placeholder="CONDITION DE REGLEMENT (DELAI DE PAIEMENT)"
          />
        </div>
        <div>
          <input
            ng-click="displayChoice()"
            type="text"
            placeholder="MODE DE REGLEMENT"
          />
        </div>
      </div>
    </div>

    <div id="box3">
      <div class="montant">
        <div>MONTANT HT</div>
        <div>00.000</div>
      </div>
      <div class="montant">
        <div>MONTANT TVA</div>
        <div>00.000</div>
      </div>
      <div id="TTC" class="montant">
        <div>MONTANT TTC</div>
        <div>00.000</div>
      </div>
    </div>
    <div id="buttons">
      <span id="check" class="material-icons"> check_circle_outline </span>
      <span id="cross" class="material-icons"> highlight_off </span>
    </div>
  </div>
  <div id="plus">
    <span id="add" class="material-icons"> add_circle </span>
  </div>
</div>
